
h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
body {
  background: white;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
}

.menu {
  display: flex;
  flex-direction: column;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

  header.top h3 {
    margin: 0;
    font-size: 0.8em;
    color: white;
    /* position: relative; */
    display: inline-block;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: cadetblue;
  padding: 0;
}
.navbar-brand {
  display: inline-block;
  /* text-align: center; */
  /* align-self: center; */
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: .3125rem;
  /* margin-right: 0rem; */
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  /* float: left; */
  /* margin-top: 0; */
}

.navbar {
  position: -webkit-sticky; /* Safari */
  position: sticky !important;
  top: 0;
}

.count-notification {
  position: absolute;
  margin-top: 1.5em;
  background: red;
  border-radius: 1em;
  width: 1.3em;
  text-align: center;
  color: white;
  right: 13%;
}

header.top {
  text-align: center;
}

header.top h1 {
  font-size: 2em;
  line-height: 0.7;
  /* display: flex; */
  justify-content: center;
  color: wheat;
}

h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}
.order-wrap {
  padding-left: 0.5em;
  color: white;
}

.order-wrap h4{
  margin-top: 1em;
}
.total {
    float: right;
    margin: 0 1em 0.5em 0;
}

ul{
  list-style-type: none !important;
}

.list-of-fish {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.menu-fish {
  margin: 2em 0;
}

.fish-name {
  font-size: 1.4em;
    line-height: 1.2;
    margin: 0.5em;
}

.breakline {
  background: wheat !important;
  margin: 0.1em 0em;
  
}

/*New section*/

  .order-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    max-height: 0;
    padding: 0 !important;
  }
  .order-enter.order-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-height: 60px;
    padding: 2rem 0 !important;
  }
  .order-leave {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .order-leave.order-leave-active {
    max-height: 0;
    padding: 0;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  


