h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}

body {
  background: white;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
}

.menu {
  height: 100vh;
  width: 100vw;
}

header.top {
  text-align: center;
}

header.top h2 {
  line-height: 0.7;
  margin: 0;
  justify-content: center;
  color: wheat;
}

header.top h3 {
  margin: 0;
  font-size: 0.8em;
  color: white;
  display: inline-block;
}


.container {
  padding-right: 0;
}

.navbar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: cadetblue;
  padding: 0;
}

.navbar-brand {
  display: inline-block;
  /* text-align: center; */
  /* align-self: center; */
  padding-top: 0.5em;
  padding-left: 0.5em;
  padding-bottom: .3125rem;
  /* margin-right: 0rem; */
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-toggler {
  padding: .35rem .75rem;
  font-size: 1.7em;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
  /* float: left; */
  /* margin-top: 0; */
}

.navbar-toggler span {
  color: white;
  vertical-align: middle;
}

.badge-notify {
  background: red;
  position: relative;
  font-size: 0.8em;
  top: 14px;
  left: -65px;
  color: white;
}

.order {
  margin-left: -2em;
}

.order-item{
  margin-bottom: 0.3em;
}

/*Targeting second to last item (last item in the cart) and increasing bottom margin creating more space between total price
and last item in the cart's price*/
.order-item:nth-last-child(2){
  margin-bottom: 1.5em;
}

.order-wrap {
  padding-left: 0.5em;
  color: white;
}

.order-wrap h4 {
  margin-top: 1em;
}

.price {
  float: right;
  margin-right: 1em;
}

.price span, .total span {
  color: green;
  margin-right: 0.2em;
}

.trash {
  margin-right: 1em;
  color: rgb(185, 51, 51);
}

.total {
  float: right;
  margin: 0 1em 0.5em 0;
}

ul {
  list-style-type: none !important;
}

.list-of-fish {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
}

.menu-fish {
  margin: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 20em;
  border-radius: 0.3em;
}

.fish-name {
  font-size: 1.6em;
  line-height: 1.2;
  margin: 0.5em 0;
}

.fish-name .price {
  margin-left: 1em;
}

.fish-desc {
  margin: 0 0.5em;
}

.breakline {
  background: wheat !important;
  margin: 0.1em 0em;

}

/*New section*/

.order-enter {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(-120%);
  transform: translateX(-120%);
  max-height: 0;
  padding: 0 !important;
}

.order-enter.order-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  max-height: 60px;
  padding: 2rem 0 !important;
}

.order-leave {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.order-leave.order-leave-active {
  max-height: 0;
  padding: 0;
  -webkit-transform: translateX(120%);
  transform: translateX(120%);
}