@font-face {
  font-family: "haymakerregular";
  src: url("./fonts/haymaker-webfont.eot");
  src: url("./fonts/haymaker-webfont.eot?#iefix") format("embedded-opentype"), url("./fonts/haymaker-webfont.woff") format("woff"), url("./fonts/haymaker-webfont.ttf") format("truetype"), url("./fonts/haymaker-webfont.svg#haymakerregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'blanchcaps_inline';
  src: url("./fonts/blanch_caps_inline-webfont.eot");
  src: url("./fonts/blanch_caps_inline-webfont.eot?#iefix") format('embedded-opentype'), url("./fonts/blanch_caps_inline-webfont.woff") format('woff'), url("./fonts/blanch_caps_inline-webfont.ttf") format('truetype'), url("./fonts/blanch_caps_inline-webfont.svg#blanchcaps_inline") format('svg');
  font-weight: normal;
  font-style: normal;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: 'haymakerregular', sans-serif;
}
body {
  background: white;
  margin: 0;
  font-size: 1em;
  font-weight: 400;
  color: #212529;
  text-align: left;
}


  #main .the-fisher-men > * {
    -webkit-transform: none;
            transform: none;
  }

  .the-fisher-men {
    display: flex;
    height: 100vh;
    width: 100vw;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  header.top h3 {
  margin: 0;
  font-size: 1.2em;
  color: #f5a623;
  position: relative;
  display: inline-block;
}

header.top {
  text-align: center;
}

header.top h1 {
  font-size: 4em;
  line-height: 0.7;
  display: flex;
  justify-content: center;

}

h1 {
  font-family: 'blanchcaps_inline', sans-serif;
  text-align: center;
  font-weight: normal;
  margin: 0;
}

.list-of-fish {
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.menu-fish {
  margin: 2em 0;
}

.fish-name {
  font-size: 1.4em;
    line-height: 1.2;
    margin: 0.5em;
}


/*New section*/

  .order-enter {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    max-height: 0;
    padding: 0 !important;
  }
  .order-enter.order-enter-active {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    max-height: 60px;
    padding: 2rem 0 !important;
  }
  .order-leave {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .order-leave.order-leave-active {
    max-height: 0;
    padding: 0;
    -webkit-transform: translateX(120%);
            transform: translateX(120%);
  }
  


